
@{
    ViewBag.Title = "RegisterConfirm";
}

@if (ViewBag.NameTaken)
{
    <h2>That name has been taken please try another username</h2>
}
else
{
    <h2>Thank you for Registering with Xpert Collector! You may now login</h2>
}

